{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Top Menu Bar -->
<div class="menu-bar">
    <div class="menu-bar-content">
        <div class="flex items-center">
            <div class="logo">
                <div class="logo-bg">
                    <img src="{% static 'src/images/logo.svg' %}" alt="Logo" class="logo-icon">
                </div>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <div class="date-time" id="dateTime"></div>
        </div>
    </div>
</div>

<!-- Desktop Content -->
<div class="absolute top-8 left-0 right-24 bottom-0 flex items-center justify-center z-10">
    <h1 class="welcome-text">Harmoniq</h1>
</div>

<!-- Dock -->
<div class="dock">
    <div class="dock-icon dock-icon-styled" data-modal="tidal">
        <img src="{% static 'src/images/streaming_services/tidal.svg' %}" alt="tidal" class="dock-icon-img">
    </div>
    <div class="dock-icon dock-icon-styled" data-modal="spotify">
        <img src="{% static 'src/images/streaming_services/spotify_alt.svg' %}" alt="spotify" class="dock-icon-img">
    </div>
    <div class="dock-icon dock-icon-styled" data-modal="youtube_music">
        <img src="{% static 'src/images/streaming_services/youtube_music.svg' %}" alt="youtube_music" class="dock-icon-img">
    </div>
    <div class="dock-icon dock-icon-styled" data-modal="apple_music">
        <img src="{% static 'src/images/streaming_services/apple_music.svg' %}" alt="apple_music" class="dock-icon-img">
    </div>
    <div class="dock-icon dock-icon-styled" data-modal="qobuz">
        <img src="{% static 'src/images/streaming_services/qobuz.png' %}" alt="qobuz" class="dock-icon-img">
    </div>
    <div class="dock-icon dock-icon-styled" data-modal="settings">
        <img src="{% static 'src/images/settings.png' %}" alt="settings" class="dock-icon-img">
    </div>
</div>

<!-- Include Modal Component -->
{% include 'components/modal.html' %}
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'src/js/desktop.js' %}"></script>
{% endblock %}
